<div class="panel panel-default">
  <form novalidate>
    <table class="table" id="assignee-config-table">
      <thead>
        <tr>
          <th>Key</th>
          <th>Name</th>
          <th>Email</th>
          <th class="text-center">Hidden</th>
          <th ng-repeat="g in $ctrl.groups" class="text-center">
            {{g.name}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="a in $ctrl.assignees">
          <td><input type="text" class="form-control" ng-model="a.key" ng-disabled="$ctrl.saveInProgress"></td></td>
          <td><input type="text" class="form-control" ng-model="a.name" ng-disabled="$ctrl.saveInProgress"></td></td>
          <td><input type="text" class="form-control" ng-model="a.email" ng-disabled="$ctrl.saveInProgress"></td></td>
          <td class="checkbox-cell">
            <span class="glyphicon" ng-class="{'glyphicon-ok': a.hidden}" ng-click="$ctrl.toggleHidden(a)"></span>
          </td>
          <td ng-repeat="g in $ctrl.groups" ng-click="$ctrl.toggleGroup(a, g)" class="checkbox-cell">
            <span class="glyphicon" ng-class="{'glyphicon-ok': $ctrl.isInGroup(a, g)}"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </form>

  <div class="panel-body">
    <button
        ng-disabled="$ctrl.saveInProgress"
        class="btn btn-default"
        ng-click="$ctrl.addAssignee()">
      <span class="glyphicon glyphicon-plus"></span> Add assignee
    </button>
  </div>
</div>
