<navbar></navbar>

<div class="container-fluid" style="margin: 20px 0">
  <div class="row">
    <div class="col-sm-12">
      <assignee-group-config></assignee-group-config>
    </div>
  </div>
</div>
