<div class="panel panel-default">
  <div class="panel-body">
    <form dnd-list="$ctrl.groups" id="group-config-form" class="form-inline" dnd-disable-if="$ctrl.saveInProgress">
      <div 
          ng-repeat="g in $ctrl.groups"
          dnd-draggable="g"
          dnd-moved="$ctrl.groups.splice($index, 1)"
          dnd-effect-allowed="move"
          class="group-config-item">
        <div dnd-nodrag>
          <div dnd-handle class="handle">:::</div>
          <input type="text" ng-model="g.name" class="form-control" ng-disabled="$ctrl.saveInProgress">
          <button class="btn btn-link" ng-click="$ctrl.removeGroup(g.id)" ng-disabled="$ctrl.saveInProgress">Delete</button>
        </div>
      </div>
    </form>

    <button
        ng-disabled="$ctrl.saveInProgress"
        class="btn btn-default"
        ng-click="$ctrl.addGroup()">
      <span class="glyphicon glyphicon-plus"></span> Add group
    </button>
</div>
