<div id="audit-log" class="container-fluid" manage-layout>

  <div class="panel panel-default" style="margin-top: 15px">
    <div class="panel-body">
      <h4>Search audit log</h4>
      <form class="form-inline" style="margin:10px 0">
        <div class="form-group">
          <label>Edited by: </label>
          <input type="text" class="form-control input-sm" ng-model="$ctrl.filter.enteredBy" ng-change="$ctrl.search()">
        </div>
        <div class="form-group" style="margin: 0 10px">
          <label>Instructor: </label>
          <input type="text" class="form-control input-sm" ng-model="$ctrl.filter.instructor" ng-change="$ctrl.search()">
        </div>
        <div class="form-group">
          <label>Notes: </label>
          <input type="text" class="form-control input-sm" ng-model="$ctrl.filter.notes" ng-change="$ctrl.search()">
        </div>
      </form>
    </div>
  </div>


  <table class="table">
    <thead>
      <th class="date-time-cell">Edited at</th>
      <th style="width:15%">Edited by</th>
      <th class="date-range-cell">Week</th>
      <th style="width:15%">Instructor</th>
      <th>Notes</th>
    </thead>
    <tbody scroll-bottom="$ctrl.visibleNotes">
      <tr ng-repeat="note in $ctrl.visibleNotes">
        <td class="date-time-cell">{{note.asOf | date:'short'}}</td>
        <td style="width:15%">{{note.enteredBy}}</td>
        <td class="date-range-cell">{{note.week | date:'shortDate'}} - {{$ctrl.weekEnd(note.week) | date:'shortDate'}}</td>
        <td style="width:15%">{{note.instructor}}</td>
        <td>{{note.notes}}</td>
      </tr>
    </tbody>
  </table>
</div>
