<div class="form-group" ng-if="$root.identity.Rights.SeeFullHistory">
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="$ctrl.filter.fullHistory" ng-change="$ctrl.filterEngagements()"> Full History</label>
  </div>
</div>
<div class="form-group">
  <select class="form-control input-sm" ng-model="$ctrl.filter.publicPrivate" ng-change="$ctrl.filterEngagements()">
    <option value="all">Public / Private</option>
    <option value="public">Public</option>
    <option value="private">Private</option>
  </select>
</div>
<div class="form-group">
  <assignee-group-selector
      groups="$ctrl.groups"
      initial-group="$ctrl.initialGroup"
      on-change="$ctrl.assigneeGroupsChanged(selectedGroups)">
  </assignee-group-selector>
</div>
<div class="form-group">
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="$ctrl.viewSettings.detailedView" ng-change="$ctrl.viewSettingsChanged()"> Details</label>
  </div>
</div>
