<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Instructors</h3>
  </div>

  <div ng-if="$ctrl.status == 'LOADING'">
    <h4>Loading...</h4>
  </div>

  <div ng-if="$ctrl.status == 'ERROR'" class="alert alert-danger" style="margin: 15px">
    <div ng-if="$ctrl.error.status == 401 && $ctrl.error.data">
      {{$ctrl.error.data}}
    </div>
    <div ng-if="$ctrl.error.status != 401">
      <h4>Unable to load data</h4>
      <pre>{{$ctrl.error | json:2}}</pre>
    </div>
  </div>

  <form name="instructorForm" novalidate ng-if="$ctrl.status === 'OK'">
    <table class="table">
      <thead>
        <tr>
          <th>Key</th>
          <th>Name <span style="color: #999999" class="glyphicon glyphicon-question-sign" title="Necessary for assignees who do not have items assigned in JIRA."></span></th>
          <th>Email <span style="color: #999999" class="glyphicon glyphicon-question-sign" title="Necessary for assignees who do not have items assigned in JIRA."></span></th>
          <th>Type (sort order)</th>
          <th>Hidden</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="i in $ctrl.model">
          <td><input ng-disabled="$ctrl.saveInProgress" type="text" ng-model="i.key" class="form-control" required></td>
          <td><input ng-disabled="$ctrl.saveInProgress" type="text" ng-model="i.name" class="form-control"></td>
          <td><input ng-disabled="$ctrl.saveInProgress" type="text" ng-model="i.email" class="form-control"></td>
          <td><select ng-disabled="$ctrl.saveInProgress" class="form-control" ng-options="option.value as option.label for option in $ctrl.typeOptions" ng-model="i.sortOrder"></td>
          <td><div class="checkbox"><label><input ng-disabled="$ctrl.saveInProgress" type="checkbox" ng-model="i.hidden"> Hidden</label></div></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>
            <button ng-disabled="$ctrl.saveInProgress" class="btn btn-default" ng-click="$ctrl.addInstructor()"><span class="glyphicon glyphicon-plus"></span> Add Assignee</button>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>

    <p class="bg-info" style="padding: 15px;margin: 0 15px;">
      <strong>Note:</strong> It's strongly recommended to provide <strong>name</strong> and <strong>email</strong> for assignees who do not yet have any classes assigned. Otherwise they may not be displaying correctly in the grid.
      These values have no effect for assignees who do have some classes.
    </p>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <button ng-disabled="$ctrl.saveInProgress" class="btn btn-default" ng-click="$ctrl.sort()">Sort</button>
            <button ng-disabled="$ctrl.saveInProgress" class="btn btn-default" ng-click="$ctrl.undo()">Undo</button>
            <button ng-disabled="$ctrl.saveInProgress" class="btn btn-primary" ng-click="$ctrl.save()" ng-disabled="!instructorForm.$valid">{{$ctrl.saveInProgress ? 'Saving...' : 'Save'}}</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div ng-if="$ctrl.saveError" class="alert alert-danger" style="margin: 15px">
            <div ng-if="$ctrl.saveError.status == 401 && $ctrl.saveError.data">
              {{$ctrl.saveError.data}}
            </div>
            <div ng-if="$ctrl.saveError.status != 401">
              <h4>Unable to save assignees</h4>
              <pre>{{$ctrl.saveError | json:2}}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
