<nav class="navbar navbar-default navbar-static-top" style="margin:0" ng-init="navbarCollapsed = true">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">{{$ctrl.instanceLabel || 'Engagement Grid'}}</a>
    </div>
    <div class="navbar-collapse collapse" uib-collapse="navbarCollapsed">
      <ul class="nav navbar-nav">
        <li ng-class="{active: $ctrl.path == '/grid'}"><a href="#!/grid">Grid</a></li>
        <li ng-class="{active: $ctrl.path == '/audit'}"><a href="#!/audit">Audit</a></li>
        <li ng-class="{active: $ctrl.path == '/help'}"><a href="#!/help">Help</a></li>
        <li ng-if="$ctrl.identity.Rights.Admin" ng-class="{active: $ctrl.path == '/config'}"><a href="#!/config">Config</a></li>
      </ul>
      <ng-transclude></ng-transclude>
      <ul class="nav navbar-nav navbar-right">
        <li style="padding: 5px 5px 0 0; font-size: smaller">
        <p style="margin:0">{{$root.identity.User.Email}}</p>
        <p style="margin:0"><a href="/switch-account">{{($root.identity.User.Email === 'Anonymous' || !$root.identity) ? 'Log in' : 'Switch account'}}</a></p>
        </li>
      </ul>
    </div>
  </div>
</nav>
