<div style="display: inline-block" ng-switch="$ctrl.sales">
  <div ng-switch-when="On Sale">
    <span class="sales-border">
      <span class="sales-inner sales-on-sale"></span>
    </span>
  </div>
  <div ng-switch-when="Almost Sold Out">
    <span class="sales-border">
      <span class="sales-inner sales-almost-sold-out"></span>
    </span>
  </div>
  <div ng-switch-when="Sold Out">
    <span class="sales-border">
      <span class="sales-inner sales-sold-out"></span>
    </span>
  </div>
  <div ng-switch-when="Draft">
    <span style="font-size: 10px; color: #888888" class="glyphicon glyphicon-pencil"></span>
  </div>
  <div ng-switch-when="Hidden">
    <span style="font-size: 10px; color: #888888" class="glyphicon glyphicon-eye-close"></span>
  </div>
</div>
